.tituloEscola {
	font-weight: bold;
	color: #fff;
	font-size: 20px;
	line-height: 50px;
	padding: 10px;
}
.admin-img {
	/*background-image: url('../dist/img/logo_vertical_opaca.png');*/

	/*padding: 2%;*/
	float: right;
	/*position:absolute;*/
    bottom:0;	
}

.admin-img img {
	width: 90%;
	margin-bottom: 0;
}